body
{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.card
{
    width: 70%;
    height: 320px;
    background: linear-gradient(to right , lightblue , skyblue);
    border-radius: 20px;
    background-image: url(./Rectangle\ 2.png);
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
.head
{
    width: 90%;
    height: 10svh;
    /* background-color: red; */
    margin: 10px auto;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}
.head i
{
    font-size: 25px;
}

.body .left
{
    /* background-color: red; */
    height: 18svh;
    width: 37%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    color: white;
}
.body .left h1
{
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.body .left p
{
    font-size: 30px;
    margin: 0;
    letter-spacing: 2px;
}
.body
{
       width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* padding-bottom: 20px; */
    height: 120px;
    /* margin-bottom: 20px; */
}
.body .right
{
    /* height: 10svh; */
    width: 50%;
  
}
.right h4
{
    /* font-size: 40px; */
   
    width: 100%;
  position: relative;
 top: 18px;
    text-align: end;
}
.monthofdata
{
position: relative;
 top: -10px;

padding-bottom: 20px;

    text-align: end;
}
.searchDiv
{
    background-color: white;
    width: 28%;
    height:7svh;
    margin: 20px 0;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.search
{
    height: 6.3svh;
    width: 85%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}
.searchDiv img
{
    background-color:#4869B6;
color: #fff;
    font-size: 10px;
    border-radius: 50%;
padding: 7px;
     height: 20px;
     width:10px;
    
    margin-left: 5px;
}

.searchDiv img:hover{
        background-color:#1152ea;
color: #ffffff;

    }

.all
{
    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #343D4B;
}
table
{
    background-color: #222831;
    width: 70%;
    height: 8vh;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-align: left;
}
.td{
    font-size: 16px;
    color: gray;

}
.td1{
font-weight: bold;
 width: 35%;


}

.deyOfWeek{
    font-size: 24px;
}
